{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<div class="product_list">
  <button class="new_product">
    <a href="{% url 'admin:product_create' category.pk %}">
      Новый продукт
    </a>
  </button>

  {% for object in objects %}
  <div class="product_record">
    <img src="/media/{{ object.image|default:'products_images/default.jpg' }}" alt="{{ object.name }}">
  </div>
  <div class="product_name">
    {{ object.name|title }}
  </div>
  <div class="product_actions">
    <button>
      <a href="{% url 'admin:product_read' object.pk %}">
        Подробнее
      </a>
    </button>
    <button>
      <a href="{% url 'admin:product_update' object.pk %}">
        Редактировать
      </a>
    </button>
    <button>
      <a href="{% url 'admin:product_delete' object.pk %}">
        Удалить
      </a>
    </button>
  </div>
  <div class="summary">
    <b>Цена</b>
    <p>{{ object.price }} руб. </p>
    <b>Количество</b>
    <p>{{ object.short_desc|title }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}