{% extends 'mainapp/base.html' %}
{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
	<title>Каталог</title>
</head>
<body>
	<div class="container">

		{% block menu %}
		<div class="hero-white">
			<div class="header clearfix">
				<a href="index.html" class="logo"></a>
				{% include 'mainapp/includes/inc_main_menu.html' %}
				<a href="#" class="search"></a>
                <a href="#" class="basket"></a>
			</div>
		</div>
		{% endblock %}

		{% block content %}
		<div class="details">
			<div class="links clearfix">
				{% include 'mainapp/includes/inc_categories_menu.html' %}
			</div>

			<div class="details-products">
				<div class="details-slider">
					<div class="slider-product">
						<img src="/media/{{ hot_product.image }}"  width="370px">
					</div>
					<div class="slider-control">
						<div class="block">
							<a href="#"><img src="/media/{{ hot_product.image_1 }}" alt="Картинка 1">
								<div class="text"></div>
							</a>
						</div>
						<div class="block">
							<a href="#"><img src="/media/{{ hot_product.image_2 }}" alt="Картинка 2">
								<div class="text"></div>
							</a>
						</div>
						<div class="block">
							<a href="#"><img src="/media/{{ hot_product.image_3 }}" alt="Картинка 3">
								<div class="text"></div>
							</a>
						</div>
					</div>
				</div>

				<div class="description">
					<h3 class="big-bold">{{ hot_product.name }}</h3>
					<h3 class="red">горячее предложение</h3>
					<h3 class="red"></h3>
					<p class="price">{{ hot_product.price }}<span>руб</span></p>
					<a href="#" class="red-button">
						заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
					</a>

					<div class="description-text">
						<p>{{ hot_product.description }}</p>
					</div>

				</div>
			</div>

			<div class="related">
				<div class="title clearfix">
					<h2>Похожие продукты</h2>
					<a class="explore" href="#">показать все <img src="{% static 'img/arrow.png' %}" alt=""></a>
				</div>
				<div class="related-products clearfix">

					{% for product in products %}

					<div class="block">
						<a href="{% url 'product' product.pk %}"><img src="/media/{{ product.image }}" width="370px" height="370px" alt="картинка товара">
							<div class="text">
								<img src="{% static 'img/icon-hover.png' %}" alt="img">
								<h4>{{ product.name }}</h4>
								<p>{{ product.description }}</p>
							</div>
						</a>
					</div>

					{% endfor %}

				</div>
			</div>
		</div>
		{% endblock %}

		<div class="clr"></div>

	</div>	

</body>
</html>